.results-container {
    display: flex;
    justify-content: space-around;
    background-color: #28293d; 
    padding: 20px;
  }
  
  .panel {
    flex-basis: 30%; 
    border: 0.5px solid #303030; 
    border-radius: 20px; 
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: #1c1c28; 
    margin: 10px; 
    height: 85vh; 
  }
  .inside-panel{
    flex-basis: 30%;
    border: 0.5px solid #303030;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #1c1c28;
    margin: 10px;
    height: 35vh;
    margin-top: 150px;
    margin-left: -10px;
  }
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .heading{
    color: #cecece
  }

  .summaryinfo{
    text-align: left;
    padding-left: 20px;
    color: #e7e7e7
  }
  .metricsinfo{
    text-align: left;
    padding-left: 20px;
    color: #e7e7e7
  }
  .results-page{
    background-color: #1c1c28
  }
  .tick {
    color: green;
    font-size: 1.2em; 
  }
  
  .cross {
    color: red;
    font-size: 1.2em;
  }
  .rockyou{
    text-align: left;
    color: #e7e7e7
  }
  .icon-result{
    padding-left: 10px;
  }
  
  